extends layout

block content
  h1 Home
  h2 Welcome to iNotebook
  include add.jade
  include top.jade
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const user = localStorage.getItem('token');
      if (!user) {
        window.location.href = '/login';
      }
    });

block css 
  link(rel="stylesheet", href="/stylesheets/index.css")
