extends layout 


block content 
    h1= title 
    p Welcome to #{title}
    p #{message}
    section#login 
        form(method='POST')#loginForm
            H3 #{title}
            label(for='lemail') Email:
            input(type='email', name='lemail' required)#lemail
            div
            label(for='lpassword') Password:
            input(type='password', name='lpassword' autocomplete='new-password' required)#lpassword
            div
            input(type='submit', value='Submit')#loginSubmit
            div#loginMessage
                p Already have an account?
                a(href='/register') Register
    
    script(src='/javascripts/login.js')