extends layout 


block content 
    h1= title 
    p Welcome to #{title}
    p #{message}
    section#register 
        form(method='POST')#registerForm
            H3 Register
            div
            label(for='name') Full Name:
            input(type='text', name='name' required)#rname
            div
            label(for='email') Email:
            input(type='email', name='Email' required)#remail
            div
            label(for='password') Password:
            input(type='password', name='password' autocomplete='new-password' required)#rpassword
            div
            label(for='cpassword') Confirm Password:
            input(type='password', name='cpassword' autocomplete='new-password' required)#rcpassword
            p(style='text-align:left;width:100vh;')#passwordError
            div
            input(type='submit', value='Submit')#registerButton
        